body {
  margin: 0;
  background-color: #1abc9c;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.prev {
  min-height: 200px;
  margin-top: 20px;
  border: 1px solid #1d2f2f;
  background-color: #7bfae0;
}
.edit{
  min-height: 200px;
  border: 1px solid #1d2f2f;
  background-color: white;
}
.card-header{
  background-color: #02221b;
  color: white;
  margin: 0px;
}
.fa {
  position: absolute;
  right: -5px;
}
.card-header i {
  width: 25px;
  color: black;
  margin-left: 5px;
}
